In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [61]:
data = pd.read_csv('Churn_Modelling.csv')

In [62]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [63]:
data.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [64]:
data['Gender'] = data['Gender'].map({'Female':0,'Male':1})

In [65]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [66]:
data = pd.get_dummies(data,drop_first=True)

In [67]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1

In [68]:
y = data['Exited'].values

In [69]:
y[:3]

array([1, 0, 1], dtype=int64)

In [70]:
X = data.drop('Exited',axis=1).values

In [71]:
X[:3]

array([[6.1900000e+02, 0.0000000e+00, 4.2000000e+01, 2.0000000e+00,
        0.0000000e+00, 1.0000000e+00, 1.0000000e+00, 1.0000000e+00,
        1.0134888e+05, 0.0000000e+00, 0.0000000e+00],
       [6.0800000e+02, 0.0000000e+00, 4.1000000e+01, 1.0000000e+00,
        8.3807860e+04, 1.0000000e+00, 0.0000000e+00, 1.0000000e+00,
        1.1254258e+05, 0.0000000e+00, 1.0000000e+00],
       [5.0200000e+02, 0.0000000e+00, 4.2000000e+01, 8.0000000e+00,
        1.5966080e+05, 3.0000000e+00, 1.0000000e+00, 0.0000000e+00,
        1.1393157e+05, 0.0000000e+00, 0.0000000e+00]])

In [72]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,stratify=y,random_state=101)

In [73]:
X_train.shape

(7500, 11)

In [74]:
X_test.shape

(2500, 11)

In [75]:
from sklearn.preprocessing import StandardScaler
scale_X = StandardScaler()
X_train = scale_X.fit_transform(X_train)
X_test = scale_X.transform(X_test)

In [76]:
X_train[:4]

array([[ 1.86932689, -1.0794105 ,  0.49029212,  1.73983724, -1.22309334,
        -0.90904157, -1.55412372,  0.97134375, -0.91598568, -0.57878723,
         1.75072575],
       [-1.2790784 , -1.0794105 , -0.85049006, -1.73002909,  1.30818554,
         0.80139791,  0.64344941,  0.97134375,  0.00626315,  1.72775062,
        -0.57119169],
       [ 0.40830221, -1.0794105 ,  1.54376383, -0.34208256, -1.22309334,
         0.80139791,  0.64344941,  0.97134375, -0.72942436, -0.57878723,
         1.75072575],
       [-1.13503372,  0.92643161, -0.08432881,  0.35189071, -1.22309334,
        -0.90904157,  0.64344941,  0.97134375,  0.91517343, -0.57878723,
         1.75072575]])

In [77]:
import keras

In [78]:
from keras.models import Sequential
from keras.layers import Dense

In [79]:
model = Sequential()

In [80]:
model.add(Dense(6,activation='relu',input_shape=(11,)))

In [81]:
model.add(Dense(6,activation='relu'))

In [82]:
model.add(Dense(1,activation='sigmoid'))

In [83]:
model.compile(optimizer='adam',loss='binary_crossentropy')

In [84]:
model.fit(X_train,y_train,batch_size=20,epochs=25)

Epoch 1/25
7500/7500 [==============================] - ETA: 0s - loss: 0.587 - 3s 461us/step - loss: 0.5858
Epoch 2/25
7500/7500 [==============================] - 1s 195us/step - loss: 0.4497
Epoch 3/25
7500/7500 [==============================] - 2s 201us/step - loss: 0.4320
Epoch 4/25
7500/7500 [==============================] - 2s 202us/step - loss: 0.4229
Epoch 5/25
7500/7500 [==============================] - 2s 203us/step - loss: 0.4144
Epoch 6/25
7500/7500 [==============================] - 2s 225us/step - loss: 0.4055
Epoch 7/25
7500/7500 [==============================] - 1s 198us/step - loss: 0.3958
Epoch 8/25
7500/7500 [==============================] - 2s 229us/step - loss: 0.3853
Epoch 9/25
7500/7500 [==============================] - 2s 226us/step - loss: 0.3745
Epoch 10/25
7500/7500 [==============================] - 1s 176us/step - loss: 0.3637
Epoch 11/25
7500/7500 [==============================] - 1s 190us/step - loss: 0.3551
Epoch 12/25
7500/7500 [==============================] - 2s 201us/step - loss: 0.3483
Epoch 13/25
7500/7500 [==============================] - 1s 197us/step - loss: 0.3447
Epoch 14/25
7500/7500 [==============================] - 1s 197us/step - loss: 0.3418
Epoch 15/25
7500/7500 [==============================] - 1s 187us/step - loss: 0.3408
Epoch 16/25
7500/7500 [==============================] - 2s 216us/step - loss: 0.3391
Epoch 17/25
7500/7500 [==============================] - 2s 208us/step - loss: 0.3380 0s - loss:
Epoch 18/25
7500/7500 [==============================] - 2s 213us/step - loss: 0.3368
Epoch 19/25
7500/7500 [==============================] - 2s 203us/step - loss: 0.3365
Epoch 20/25
7500/7500 [==============================] - 2s 207us/step - loss: 0.3355
Epoch 21/25
7500/7500 [==============================] - 2s 229us/step - loss: 0.3352TA: 0s - loss: 0.33
Epoch 22/25
7500/7500 [==============================] - 2s 219us/step - loss: 0.3346
Epoch 23/25
7500/7500 [==============================] - 2s 240us/step - loss: 0.3343 0s - loss: 0.3
Epoch 24/25
7500/7500 [==============================] - 2s 227us/step - loss: 0.3337
Epoch 25/25
7500/7500 [==============================] - 2s 225us/step - loss: 0.3329

In [85]:
y_pred = model.predict(X_test)

In [87]:
y_pred = y_pred>0.5

In [89]:
from sklearn.metrics import confusion_matrix,accuracy_score
confusion_matrix(y_test,y_pred)

array([[1894,   97],
       [ 280,  229]], dtype=int64)

In [90]:
accuracy_score(y_test,y_pred)

0.8492